[Unit]
Description=Docker Volume Netshare 
After=docker.service

[Service]
ExecStart=/usr/bin/docker-volume-netshare nfs

[Install]
WantedBy=multi-user.target
